<!--
 * @Description: 
 * @Author: 胡阳阳
 * @Date: 2019-11-02 10:12:33
 * @LastEditTime: 2019-11-07 20:28:43
 * @LastEditors: 胡阳阳
 -->
<meta name="viewport" content="viewport-fit=cover,width=device-width,initial-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="嘿嘿嘿"">
<meta name="name" itemprop="name" content="嘿嘿嘿">
<meta name="description" itemprop="description"
    content="嘿嘿嘿">
<meta name="image" itemprop="image"
    content="https://pub.idqqimg.com/pc/misc/files/20170831/60b60446e34b40b98fa26afcc62a5f74.jpg">
<meta name="baidu-site-verification" content="G4ovcyX25V">
<meta name="apple-mobile-web-app-capable" content="no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">